<h1><%= @tag.categories %></h1>

<% if @tag.recipes.any? %>
<h4>Here are the recipes for <%= "#{@tag.categories}" %>:</h4>
<ul>
  <% @tag.recipes.each do |recipe| %>
  <li><%= link_to recipe.title, tag_recipe_path(@tag, recipe) %></li>
  <% end %>
</ul>
<% else %>
<p>No recipes are listed for <%= "#{@tag.categories}" %>.</p>
<% end %>

<a><%= link_to "Edit", edit_tag_path(@tag) %></a>  |  <a><%= link_to "Delete tag", tag_path(@tag),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></a>
  <hr>
  <a><%= link_to "Return to tags", tags_path %></a>  |  <a><%= link_to "Return to recipes", recipes_path %></a>
