<h1><%= @recipe.title %></h1>
<h3><%= @recipe.rating %></h3>

<% if @recipe.tags.any? %>
  <h4>Here are the tags for this recipe:</h4>

  <% @recipe.tags.each do |tag| %>
    <ul>
      <li>
        <%= link_to tag.name, recipe_tag_path(@recipe, tag) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No tags are listed for this recipe.</p>
<% end %>

<p><%= link_to "Add a tag", new_recipe_tag_path(@recipe) %></p>

<p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>
<p><%= link_to "Delete recipe", recipe_path(@recipe),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to recipes", recipes_path %></p>
